# Binarios para programas
conversor

# Archivos de entorno
.env

# Directorio de dependencias de Go
/vendor/

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos de sistema operativo
.DS_Store
Thumbs.db
